h1{
  color:#400a58;

}

body {
  margin: 20px;
  background-color:#7D78A3;
  
}

.btn {
  background-color: purple;
  padding: 5px 8px;
  margin-top: 12px;
  margin-left: 20px;
  
}
.btn:hover {
  background-color:indigo;
  cursor: pointer;
}
















